[submodule "impl-jersey"]
	path = impl-jersey
	url = git@github.com:bcsoft/bc-rest-impl-jersey.git
[submodule "core"]
	path = core
	url = git@github.com:bcsoft/bc-rest-core.git
[submodule "test"]
	path = test
	url = git@github.com:bcsoft/bc-rest-test.git
[submodule "demo"]
	path = demo
	url = git@github.com:bcsoft/bc-rest-demo.git
